In [15]:
import pandas as pd
import numpy

In [42]:
# df_cbis = pd.read_csv('/home/huray/data/CBIS-DDSM/img/data_whole_3class.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)
# df_ncc = pd.read_csv('/home/huray/data/NCC_trainset/img_retinanet/data.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)

In [2]:
df_merged = pd.read_csv('/home/huray/data/NCC_trainset/img_retinanet/data_merged.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)
df_normal = pd.read_csv('/home/huray/data/NCC_trainset/img_retinanet/data_normal.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)

In [4]:
df_merged.head()

                                                   0    1     2     3     4  5
0  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  803   924  1127  1114  M
1  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  760  1070  1077  1236  M
2  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  664   412   916   621  B
3  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  514   820   834  1027  B
4  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  716   729   779   776  B

In [5]:
df_normal.head()

                                                   0 1 2 3 4 5
0  /home/huray/data/NCC_trainset/img_retinanet/no...
1  /home/huray/data/NCC_trainset/img_retinanet/no...
2  /home/huray/data/NCC_trainset/img_retinanet/no...
3  /home/huray/data/NCC_trainset/img_retinanet/no...
4  /home/huray/data/NCC_trainset/img_retinanet/no...

In [6]:
df = pd.concat([df_merged, df_normal], ignore_index=True)

In [7]:
df.head()

                                                   0    1     2     3     4  5
0  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  803   924  1127  1114  M
1  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  760  1070  1077  1236  M
2  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  664   412   916   621  B
3  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  514   820   834  1027  B
4  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  716   729   779   776  B

In [8]:
df.tail()

                                                      0 1 2 3 4 5
5513  /home/huray/data/NCC_trainset/img_retinanet/no...
5514  /home/huray/data/NCC_trainset/img_retinanet/no...
5515  /home/huray/data/NCC_trainset/img_retinanet/no...
5516  /home/huray/data/NCC_trainset/img_retinanet/no...
5517  /home/huray/data/NCC_trainset/img_retinanet/no...

In [9]:
print(len(df_merged), len(df_normal))
print(len(df))

4200 1318
5518

In [10]:
df.to_csv('/home/huray/data/NCC_trainset/img_retinanet/data_merged.csv', header=False, index=False)

In [16]:
df2 = pd.read_csv('/home/huray/data/NCC_trainset/img_retinanet/data.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)

In [18]:
df2.head()

                                                   0    1    2     3     4  5
0  /home/huray/data/NCC_trainset/img_retinanet/ab...  828  687  1276   925  M
1  /home/huray/data/NCC_trainset/img_retinanet/ab...  179  692   397   902  M
2  /home/huray/data/NCC_trainset/img_retinanet/ab...  860  873  1084  1268  M
3  /home/huray/data/NCC_trainset/img_retinanet/ab...  227  919   449  1133  M
4  /home/huray/data/NCC_trainset/img_retinanet/ab...