20180521에 작성하였음.
## 기존에 사용중인 CBIS, NCC 1월 데이터, INbreast에 NCC 5월 데이터를 추가하는 스크립트.

In [2]:
import pandas as pd
import numpy

In [3]:
df_merged = pd.read_csv('/home/huray/data/retinanet_train_cbis_ncc-abn_inb-mass_allM.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)
df_ncc_0517 = pd.read_csv('/home/huray/data/NCC_trainset/img_retinanet/data_ncc_abn_180517.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)

In [7]:
len(df_merged)

4312

In [12]:
len(df_ncc_0517)

905

In [8]:
df_merged.head()

                                                   0    1     2     3     4  5
0  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  803   924  1127  1114  M
1  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  760  1070  1077  1236  M
2  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  664   412   916   621  M
3  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  514   820   834  1027  M
4  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  716   729   779   776  M

In [9]:
df_merged.tail()

                                               0     1     2     3     4  5
4307  /home/huray/data/inbreast/img/53586869.jpg   590  1290   659  1352  M
4308  /home/huray/data/inbreast/img/53586896.jpg   562  1119   643  1196  M
4309  /home/huray/data/inbreast/img/53586960.jpg   178   742   399   900  M
4310  /home/huray/data/inbreast/img/53587014.jpg    84  1046   308  1158  M
4311  /home/huray/data/inbreast/img/53587663.jpg  1332   868  1400   923  M

In [10]:
df_ncc_0517.head()

                                                   0    1     2    3     4  5
0  /home/huray/data/NCC_trainset/img_retinanet/ab...
1  /home/huray/data/NCC_trainset/img_retinanet/ab...  307  1269  401  1365  M
2  /home/huray/data/NCC_trainset/img_retinanet/ab...  201  1074  260  1126  M
3  /home/huray/data/NCC_trainset/img_retinanet/ab...  629   949  702  1032  M
4  /home/huray/data/NCC_trainset/img_retinanet/ab...  652   846  737   923  M

In [13]:
df = pd.concat([df_merged, df_ncc_0517], ignore_index=True)

In [14]:
df.head()

                                                   0    1     2     3     4  5
0  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  803   924  1127  1114  M
1  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  760  1070  1077  1236  M
2  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  664   412   916   621  M
3  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  514   820   834  1027  M
4  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  716   729   779   776  M

In [15]:
df.tail()

,0,1,2,3,4,5
5212,/home/huray/data/NCC_trainset/img_retinanet/ab...,320,602,661,911,M
5213,/home/huray/data/NCC_trainset/img_retinanet/ab...,1202,371,1364,497,M
5214,/home/huray/data/NCC_trainset/img_retinanet/ab...,318,778,807,1093,M
5215,/home/huray/data/NCC_trainset/img_retinanet/ab...,1071,631,1255,820,M
5216,/home/huray/data/NCC_trainset/img_retinanet/ab...,467,944,852,1333,M

In [17]:
print(len(df_merged), len(df_ncc_0517))
print(len(df))

4312 905
5217

In [22]:
df.to_csv('/home/huray/data/retinanet_train_cbis_ncc-abn1801-1805_inb-mass_allM.csv', header=False, index=False)

In [23]:
df2 = pd.read_csv('/home/huray/data/retinanet_train_cbis_ncc-abn1801-1805_inb-mass_allM.csv', header=None, dtype={'1': numpy.int32, '2': numpy.int32, '3': numpy.int32, '4': numpy.int32}, keep_default_na=False)

In [24]:
df2.head()

                                                   0    1     2     3     4  5
0  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  803   924  1127  1114  M
1  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  760  1070  1077  1236  M
2  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  664   412   916   621  M
3  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  514   820   834  1027  M
4  /home/huray/data/CBIS-DDSM/img/calc_train/Calc...  716   729   779   776  M

In [25]:
len(df2)

5217